<table class='linescore'>
	<thead>
		<tr>
			<th colspan=2 class='linescore__team'>Team</th>
			<th class='linescore__1'>1st</th>
			<th class='linescore__2'>2nd</th>
			<th class='linescore__3'>3rd</th>
			<th class='linescore__4'>4th</th>
			<th class='linescore__5 linescore__overtime'>OT</th>
			<th class='linescore__6'>Final</th>
		</tr>
	</thead>
	<tbody>
		<tr class='linescore__away'>
			<td class='linescore__logo'></td>
			<td class='linescore__team'>XXX</td>
			<td class='linescore__1'>0</td>
			<td class='linescore__2'>0</td>
			<td class='linescore__3'>0</td>
			<td class='linescore__4'>0</td>
			<td class='linescore__5 linescore__overtime'>0</td>
			<td class='linescore__6'>0</td>

		</tr>
		<tr class='linescore__home'>
			<td class='linescore__logo'></td>
			<td class='linescore__team'>XXX</td>
			<td class='linescore__1'>0</td>
			<td class='linescore__2'>0</td>
			<td class='linescore__3'>0</td>
			<td class='linescore__4'>0</td>
			<td class='linescore__5 linescore__overtime'>0</td>
			<td class='linescore__6'>0</td>
		</tr>
	</tbody>

</table>