<table class='linescore'>
	<thead>
		<tr>
			<th colspan=2 class='linescore__team'>Team</th>
			<th class='linescore__first'>1st</th>
			<th class='linescore__second'>2nd</th>
			<th class='linescore__third'>3rd</th>
			<th class='linescore__fourth'>4th</th>
			<th class='linescore__final'>Final</th>
		</tr>
	</thead>
	<tbody>
		<tr class='linescore__away'>
			<td class='linescore__logo'></td>
			<td class='linescore__team'>Packers</td>
			<td class='linescore__first'>99</td>
			<td class='linescore__second'>99</td>
			<td class='linescore__third'>99</td>
			<td class='linescore__fourth'>99</td>
			<td class='linescore__final'>99</td>

		</tr>
		<tr class='linescore__home'>
			<td class='linescore__logo'></td>
			<td class='linescore__team'>Bears</td>
			<td class='linescore__first'>99</td>
			<td class='linescore__second'>99</td>
			<td class='linescore__third'>99</td>
			<td class='linescore__fourth'>99</td>
			<td class='linescore__final'>99</td>
		</tr>
	</tbody>

</table>